body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF8DC;
    color: #8B4513;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

h2 {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

p, ul, ol {
    text-align: justify;
    margin: 20px;
}

ul, ol {
    line-height: 1.6;
}

li {
    margin-bottom: 10px;
}